In [2]:
pwd

'D:\\SmartBridge\\VIT_morning_slot'

In [1]:
print("hello")

hello

# helloo vit students

welcome to externship

welcome

# variables

In [3]:
a=10

In [4]:
a

10

In [5]:
b="tulasi"

In [6]:
c=23.7

In [7]:
c

23.7

In [8]:
type(a)

int

In [9]:
type(b)

str

In [10]:
type(c)

float

In [11]:
a,b,c

(10, 'tulasi', 23.7)

In [12]:
print("a",a,"b",b,"c",c)

a 10 b tulasi c 23.7

In [13]:
import keyword

In [14]:
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

# Indexing

In [15]:
string="hi how are you"

In [ ]:
hi how are you
012345678910111213   ------positive indexing
hi how are you
                 -5-4-3-2-1

In [16]:
string[1]

'i'

In [17]:
string[12]

'o'

In [18]:
string[-2]

'o'

In [ ]:
mutable--if you are able to change the content
immutable-cannot change the content

In [19]:
string[-2]="g"

TypeError: 'str' object does not support item assignment

In [1]:
string="hi how are you 1245"

In [2]:
string

'hi how are you 1245'

# slicing

In [20]:
string

'hi how are you'

In [21]:
#start slicing
string[3:]

'how are you'

In [23]:
string[3:15]

'how are you'

In [24]:
string[3:10]

'how are'

In [25]:
dir(string)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# Lists

In [26]:
p=[1,2,3.5,"tulasi","smartbridge"]

In [27]:
type(p)

list

In [28]:
p

[1, 2, 3.5, 'tulasi', 'smartbridge']

In [29]:
p[2]

3.5

In [30]:
type(p[3])

str

In [31]:
len(p)

5

In [32]:
p.append(9)

In [33]:
p

[1, 2, 3.5, 'tulasi', 'smartbridge', 9]

In [34]:
p.insert(4,"internz")

In [35]:
p

[1, 2, 3.5, 'tulasi', 'internz', 'smartbridge', 9]

In [36]:
len(p)

7

In [37]:
p.append('tulasi')

In [38]:
p

[1, 2, 3.5, 'tulasi', 'internz', 'smartbridge', 9, 'tulasi']

In [39]:
p.append('tulasi')

In [40]:
p

[1, 2, 3.5, 'tulasi', 'internz', 'smartbridge', 9, 'tulasi', 'tulasi']

In [41]:
p.remove("tulasi")

In [42]:
p

[1, 2, 3.5, 'internz', 'smartbridge', 9, 'tulasi', 'tulasi']

In [43]:
p.pop(3)

'internz'

In [44]:
p

[1, 2, 3.5, 'smartbridge', 9, 'tulasi', 'tulasi']

In [45]:
dir(p)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [46]:
p.reverse()

In [47]:
p

['tulasi', 'tulasi', 9, 'smartbridge', 3.5, 2, 1]

In [ ]:
list mutabel,ordered,allows duplicates,heterogenous

# tuple

In [48]:
t=(5,8.8,9,"smartbridge")

In [49]:
t

(5, 8.8, 9, 'smartbridge')

In [51]:
type(t)

tuple

In [52]:
dir(t)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [53]:
t[1]

8.8

In [54]:
t[1:]

(8.8, 9, 'smartbridge')

In [55]:
t[1:4]

(8.8, 9, 'smartbridge')

In [56]:
a=list(t)

In [58]:
t

(5, 8.8, 9, 'smartbridge')

In [57]:
a

[5, 8.8, 9, 'smartbridge']

In [59]:
a.append("exxternship")

In [60]:
a

[5, 8.8, 9, 'smartbridge', 'exxternship']

In [61]:
y=(4,7,8)

In [62]:
c=y+t

In [63]:
c

(4, 7, 8, 5, 8.8, 9, 'smartbridge')

In [64]:
t=tuple(a)

In [65]:
t

(5, 8.8, 9, 'smartbridge', 'exxternship')

In [66]:
t.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [67]:
t=(5,8.8,9,"smartbridge",5)

In [68]:
t

(5, 8.8, 9, 'smartbridge', 5)

In [ ]:
tuple are ordered,slicing,indexing can be done,heterogenous,immutable,allows duplicates while you are initialiing the tuple

# Dictionary

In [3]:
cricket={"captain":"virat","keeper":"dhoni","bowler":"sachin"}

In [4]:
cricket

{'captain': 'virat', 'keeper': 'dhoni', 'bowler': 'sachin'}

In [5]:
type(cricket)

dict

In [6]:
cricket["bowler"]

'sachin'

In [9]:
cricket.get("bowler")

'sachin'

In [11]:
cricket.keys()

dict_keys(['captain', 'keeper', 'bowler'])

In [12]:
cricket.values()

dict_values(['virat', 'dhoni', 'sachin'])

In [13]:
cricket.items()

dict_items([('captain', 'virat'), ('keeper', 'dhoni'), ('bowler', 'sachin')])

In [78]:
z={"alpha":['a1','b1','c1'],"numbers":[1,2,3]}

In [79]:
z

{'alpha': ['a1', 'b1', 'c1'], 'numbers': [1, 2, 3]}

In [80]:
z.items()

dict_items([('alpha', ['a1', 'b1', 'c1']), ('numbers', [1, 2, 3])])

In [81]:
dir(z)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [82]:
r={1:2}

In [83]:
z.update(r)

In [84]:
z

{'alpha': ['a1', 'b1', 'c1'], 'numbers': [1, 2, 3], 1: 2}

In [14]:
d={"emp name":"tulasi",
  "salary":1000,
  "experience":6,
  "designation":"ml engineer"}

In [15]:
d

{'emp name': 'tulasi',
 'salary': 1000,
 'experience': 6,
 'designation': 'ml engineer'}

In [16]:
d.pop("designation")

'ml engineer'

In [17]:
d

{'emp name': 'tulasi', 'salary': 1000, 'experience': 6}

In [18]:
d.popitem()

('experience', 6)

In [19]:
d

{'emp name': 'tulasi', 'salary': 1000}

In [23]:
dict=d.fromkeys(d)
dict

{'emp name': None, 'salary': None}

In [21]:
list=[1,22,3.5,[3,4,[{"name":[1,2,{"name1":"tulasi"},{"age":5}]}]]]

In [22]:
list

[1, 22, 3.5, [3, 4, [{'name': [1, 2, {'name1': 'tulasi'}, {'age': 5}]}]]]

In [24]:
list[3]

[3, 4, [{'name': [1, 2, {'name1': 'tulasi'}, {'age': 5}]}]]

In [25]:
list[3][2]

[{'name': [1, 2, {'name1': 'tulasi'}, {'age': 5}]}]

In [26]:
list[3][2][0]

{'name': [1, 2, {'name1': 'tulasi'}, {'age': 5}]}

In [27]:
list[3][2][0]['name']

[1, 2, {'name1': 'tulasi'}, {'age': 5}]

In [28]:
list[3][2][0]['name'][2]

{'name1': 'tulasi'}

In [29]:
list[3][2][0]['name'][2]["name1"]

'tulasi'

# Sets

In [30]:
s={1,2,3}

In [31]:
s={1,'2',2}#heterogenous

In [32]:
s

{1, 2, '2'}

In [33]:
s.add('vit')

In [34]:
s

{1, 2, '2', 'vit'}

In [35]:
s[1] #indexing and slicing is not possible

TypeError: 'set' object is not subscriptable

In [36]:
my_set={1,2}

In [37]:
my_set.add(2)

In [38]:
my_set

{1, 2}

In [39]:
my_set.update([2,3,4])

In [40]:
my_set

{1, 2, 3, 4}

In [41]:
my_set.remove(2)

In [42]:
my_set

{1, 3, 4}

In [44]:
my_set.discard(3)

In [45]:
my_set

{1, 4}

In [46]:
a={1,2,3,4}
b={2,4,5,6}
c=a.union(b)
c

{1, 2, 3, 4, 5, 6}

In [47]:
d=a.intersection(b)

In [48]:
d

{2, 4}

In [49]:
dir(d)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [50]:
d.clear()

In [51]:
d

set()

In [52]:
a={1,2,3,4}

In [62]:
a.update([2])

In [63]:
a

{1, 2, 3, 4}

In [64]:
a={4,1,3}

In [65]:
a

{1, 3, 4}

In [66]:
a.remove(1)

In [67]:
a

{3, 4}

In [58]:
a.update([1])

In [59]:
a

{1, 3, 4}

# conditional statements

In [ ]:
1.if
2.else
3.elif
4.nested if

In [ ]:
scanf("enter the value",&a)

In [73]:
a=int(input("enter a value"))
b=int(input("enter b value"))
c=a+b

enter a value1
enter b value3

In [74]:
c

4

## if statement

In [ ]:
if condition:
    statement

In [76]:
a=int(input("enter a value"))
b=int(input("enter b value"))
c=a+b
print(c)
if c>35:
    print("pass")

enter a value1
enter b value3
4

# ifelse statement

In [77]:
a=int(input("enter a value"))
b=int(input("enter b value"))
c=a+b
print(c)
if c>35:
    print("pass")
else:
    print("fail")

enter a value1
enter b value4
5
fail

## elif statement

In [78]:
a=int(input("enter a value"))
b=int(input("enter b value"))
c=a+b
print(c)
if c>35:
    print("pass")
elif(c==35):
    print("border pass")
else:
    print("fail")

enter a value1
enter b value34
35
border pass

In [79]:
##nestedif statement

In [ ]:
if condition:
    if condition:
        if condition:
            statement

In [82]:
num=float(input("enter the number"))
if num>=0:
    if num==0:
        print("it is zero")
    else:
        print("positive")
else:
    print("negative")

enter the number-4
negative

# Loops

In [ ]:
1.while
2.for loop

In [ ]:
while condition:
    statement

In [83]:
num=0
while num<10:
    print("the value is less than 10")
    num=num+1

the value is less than 10
the value is less than 10
the value is less than 10
the value is less than 10
the value is less than 10
the value is less than 10
the value is less than 10
the value is less than 10
the value is less than 10
the value is less than 10

In [ ]:
for loop

In [ ]:
for value in sequence:
    statement

In [85]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [86]:
l="data"
for i in l:
    print(i)

d
a
t
a

### break

In [88]:
for i in "dataVgyan":
    if i=="V":
        break
    print(i)
print("end")

d
a
t
a
end

In [89]:
for i in "dataVgyan":
    if i=="V":
        continue
    print(i)
print("end")

d
a
t
a
g
y
a
n
end

In [90]:
for i in "dataVgyan":
    if i=="V":
        pass
    print(i)
print("end")

d
a
t
a
V
g
y
a
n
end

# Functions

In [ ]:
def function_name:
    block of code

In [91]:
def x():
    print("i am a function")

In [92]:
x()#call a function

i am a function

In [96]:
def greet(name):
    print("hello\t"+str(name))

In [99]:
greet("vit")

hello	vit

key word aruguments

In [102]:
def x(a=10,b=45):
    print(a,b)

In [105]:
x(b="tulasi")

10 tulasi

variable length arguments

In [110]:
def x(a,*b):
    print("a value",a)
    for i in b:
        print("b value",i)

In [111]:
x(1,3,6,4,5,6,9)

a value 1
b value 3
b value 6
b value 4
b value 5
b value 6
b value 9

In [ ]:
return

In [113]:
def x(a,b):
    c=a+b
    return(c)

In [114]:
x(1,3)

4

# Exception Handling

In [117]:
print(10/0)
print("normal flow of program")

ZeroDivisionError: division by zero

In [118]:
try:
    print(10/0)
except ZeroDivisionError:
    print("divide by zero error")
print("normal flow of program")

divide by zero error
normal flow of program

In [124]:
try:
    '2'+2
    #print(10/0)
    #4+spam
    
except Exception as e:
    print(e)

can only concatenate str (not "int") to str

In [123]:
try:
    print(10)
except ZeroDivisionError:
    print("divide by zero error")
finally:
    print("finally is executed")

10
finally is executed